{% extends 'base.html' %}
{% block content %}
    <div class="mb-5" data-scrollax=" properties: { translateY: '70%' }">
        <div class="container" style = "padding: 50px"  >
            <p class="mb-5 mt-5 pt-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 } ">
                <h3 style="color:#FFFFFF">
                    {% if not jobs %}
                        <strong>No job offers =( *YET*</strong>            
                    {% else %}
                        <strong>All Job offers: </strong>                    
                    {% endif %}
                </h3>
            </p>
    <section id="first-tab-group" class="tabgroup" >
        {% for t in jobs %}
        <div style="background-color:#FFFFFF;
                    border-radius: 25px;
                    width:750px;
                    margin-bottom: 15px;" class="tab active p-4 ">
                      <div class="item row" style="margin:20px" >
                        <div class="col-md-15 p-2">
                            <h4><strong>{{ t.0 }}</strong></h4>
                                <span>Job Sector: <strong>{{ t.1 }}</strong></span>
                            <span><p>Location: <strong>{{ t.2 }}</strong></p></span>
                                <p>Description: {{ t.3 }}</p>
                        </div>
                          <div class="col-md-15 pl-5">
                        </div>
                      </div>
        </div>
        {% endfor %}
    </section>
        </div>
        </div>
    </div>

</body>
</html>
{% endblock content %}
