<div class="container" style="margin-top: 110px; margin-bottom: 20px; background: #f2f2f2;border-radius: 20px; padding: 15px;">
  <h1 style="margin-left: 15px;">Create a job application</h1>
  <div class = "form-group">
    <label class="col-lg-12" style="margin-top: 10px;">
      <p>Title</p>
      <input class="form-control" type="text" placeholder="Ex: 'Front-End Developer'"/>
    </label>
    <label class="col-lg-12">
      <p>Location</p>
      <select class="form-control">
        <option value = "Aveiro">Aveiro</option>
        <option value = "Viseu">Viseu</option>
        <option value = "Porto">Porto</option>
        <option value = "Guarda">Guarda</option>
        <option value = "Bragança">Bragança</option>
        <option value = "Vila Real">Vila Real</option>
        <option value = "Braga">Braga</option>
        <option value = "Viana do Castelo">Viana do Castelo</option>
        <option value = "Coimbra">Coimbra</option>
        <option value = "Castelo Branco">Castelo Branco</option>
        <option value = "Leiria">Leiria</option>
        <option value = "Santarém">Santarém</option>
        <option value = "Portalegre">Portalegre</option>
        <option value = "Lisboa">Lisboa</option>
        <option value = "Évora">Évora</option>
        <option value = "Setubal">Setubal</option>
        <option value = "Beja">Beja</option>
        <option value = "Faro">Faro</option>
      </select>
    </label>
    <label class="col-lg-12">
      <p>Job Sector</p>
      <select class="form-control">
        <option value = "Software Development">Software Development</option>
        <option value = "Analyst">Analyst</option>
        <option value = "Project Management">Project Management</option>
        <option value = "Sales">Sales</option>
        <option value = "Administrative">Administrative</option>
        <option value = "Finance">Finance</option>
        <option value = "Art/Design">Art/Design</option>
        <option value = "Human Resources">Human Resources</option>
        <option value = "Medical/Healthcare">Medical/Healthcare</option>
        <option value = "Cashier">Cashier</option>
      </select>
    </label>
    <label class="col-lg-12">
      <p>Description</p>
      <textarea class="form-control" rows="5" id="comment" placeholder="Ex: Job functions, benefits, requirements, ..."></textarea>
    </label>
  </div>
  <button class="btn btn-secondary" style="margin-left: 15px; margin-bottom: 15px;">Post Job</button>
  <button class="btn btn-secondary" style="float: right; margin-right: 15px;">Cancel</button>
</div>
