<label>
  <p>First Name</p>
  <input type="text" [(ngModel)]="firstName"/>
</label>
<label>
  <p>Last Name</p>
  <input type="text" [(ngModel)]="lastName"/>
</label>
<label>
  <p>Birth Date</p>
  <input type="date" [(ngModel)]="bDate"/>
</label>
<label>
  <p>Email</p>
  <input type="email" [(ngModel)]="email"/>
</label>
<label>
  <p>Password</p>
  <input type="password" [(ngModel)]="password" placeholder="password"/>
</label>
<label>
  <p>Phone</p>
  <input type="text" [(ngModel)]="phone"/>
</label>
<label>
  <p>City</p>
  <input type="text" [(ngModel)]="city"/>
</label>
<label>
  <p>Website</p>
  <input type="text" [(ngModel)]="website"/>
</label>
<label>
  <p>Sector</p>
  <input type="text" [(ngModel)]="sector"/>
</label>
<button (click)="ButtonClick()">Register</button>
